body {
  margin: 0;
  padding: 0;
}
.topnav {
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cards {
  width: 20%;
  display: inline-block;
  /*background-color: grey;
  border-radius: 5px;*/
  margin: 33px;
  box-shadow: 2px 2px 10px black;
}
.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.title {
  text-align: center;
  font-size: 22px;
}
.des {
  text-align: center;
  font-size: 18px;
}
button {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgb(223, 219, 219);
  color: red;
  border: 1px solid black;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5%;
}

